<div class="card border-primary text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form action="post">
            <div class="form-group col-sm-6">
                <input type="text" [(ngModel)]="usuario.username" class="form-control" name="username" id="username" placeholder="Username" autofocus required>

            </div>
            <div class="form-group col-sm-6">
                <input type="text" [(ngModel)]="usuario.password" class="form-control" name="password" id="password" placeholder="Password" required>

            </div>
            <div class="form-group col-sm-6">
                <input type="submit" (click)="login()" class="btn btn-lg btn-primary btn-block" value="Login">

            </div>


        </form>


    </div>
</div>